
%h1 Edit page

= render 'form'

%h2 Events
- @job_application.events.order('events.event_time DESC').each do |event|
  %p
    %strong Type:
    = link_to event.event_type.name, edit_job_application_event_path(event.job_application, event)

  %p
    %strong Time:
    = event.event_time.strftime '%m/%d/%Y'

  %p
    %strong Pre notes:
    = event.pre_notes

  %p
    %strong Post notes:
    = event.post_notes

  %p
    = link_to "Delete", [event.job_application, event],
          method: :delete,
          data: {confirm: 'Are you sure you want to permanently delete?'}


%h2 Add an event
= render 'edit_events_form'