
%h1 All my applications

%table
	%tr
		%th
			Company Name
		%th
			Job Title
		%th
			Application Date
		%th
			Application Status
		%th
		%th

	- @job_applications.all.each do |application|
		%tr
			%td
				= link_to application.company_name, edit_user_job_application_path(application.user, application)
			%td
				= application.job_title
			%td
				= application.submit_date
			%td
				= application.application_status
			%td
				= application.is_archived
			%td
				= link_to "Delete", [application.user, application],
					method: :delete,
					data: {confirm: 'Are you sure you want to permanently delete?'}


%br
= link_to "New job application", new_user_job_application_path
