!!!
%html
	%head
		%title Jobful
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all'
		= javascript_include_tag 'application'

	%body
		-if user_signed_in?
			= current_user.name
		-else
			= link_to "Join", new_user_registration_path 
			= link_to "Login", new_user_session_path 
		= yield

